In [ ]:
import keras
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
import numpy as np 
import pandas as pd 
from sklearn.preprocessing import normalize

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/datasets/Iris.csv")

In [ ]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [ ]:
df.head

<bound method NDFrame.head of       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]>

In [ ]:
print(df["Species"].unique())

['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

In [ ]:
df.loc[df["Species"]=="Iris-setosa","Species"]=0
df.loc[df["Species"]=="Iris-versicolor","Species"]=1
df.loc[df["Species"]=="Iris-virginica","Species"]=2
print(df.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
0   1            5.1           3.5            1.4           0.2       0
1   2            4.9           3.0            1.4           0.2       0
2   3            4.7           3.2            1.3           0.2       0
3   4            4.6           3.1            1.5           0.2       0
4   5            5.0           3.6            1.4           0.2       0

In [ ]:
X=df.iloc[:,1:5].values
y=df.iloc[:,5].values

In [ ]:
X_normalized=normalize(X,axis=0)

In [ ]:
total_length=len(df)
train_length=int(0.8*total_length)
test_length=int(0.2*total_length)

X_train=X_normalized[:train_length]
X_test=X_normalized[test_length:]
y_train=y[:train_length]
y_test=y[test_length:]

print("Length of train set x:",X_train.shape[0],"y:",y_train.shape[0])
print("Length of test set x:",X_test.shape[0],"y:",y_test.shape[0])

Length of train set x: 120 y: 120
Length of test set x: 120 y: 120

In [ ]:
from keras.models import Sequential 
from keras.layers import Dense,Activation,Dropout 
from tensorflow.keras.layers import BatchNormalization 
from keras.utils import np_utils

In [ ]:
y_train=np_utils.to_categorical(y_train,num_classes=3)
y_test=np_utils.to_categorical(y_test,num_classes=3)
print("Shape of y_train",y_train.shape)
print("Shape of y_test",y_test.shape)

Shape of y_train (120, 3)
Shape of y_test (120, 3)

In [ ]:
model=Sequential()
model.add(Dense(1000,input_dim=4,activation='relu'))
model.add(Dense(500,activation='relu'))
model.add(Dense(300,activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(3,activation='softmax'))
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [ ]:
model.fit(X_train,y_train,validation_data=(X_test,y_test),batch_size=20,epochs=10)

Epoch 1/10
6/6 [==============================] - 0s 19ms/step - loss: 0.1259 - accuracy: 0.9500 - val_loss: 0.1386 - val_accuracy: 0.9667
Epoch 2/10
6/6 [==============================] - 0s 14ms/step - loss: 0.0732 - accuracy: 0.9833 - val_loss: 0.1666 - val_accuracy: 0.9167
Epoch 3/10
6/6 [==============================] - 0s 16ms/step - loss: 0.0636 - accuracy: 0.9750 - val_loss: 0.1144 - val_accuracy: 0.9750
Epoch 4/10
6/6 [==============================] - 0s 15ms/step - loss: 0.0724 - accuracy: 0.9750 - val_loss: 0.1005 - val_accuracy: 0.9667
Epoch 5/10
6/6 [==============================] - 0s 14ms/step - loss: 0.1279 - accuracy: 0.9500 - val_loss: 0.4229 - val_accuracy: 0.8167
Epoch 6/10
6/6 [==============================] - 0s 16ms/step - loss: 0.1018 - accuracy: 0.9750 - val_loss: 0.1058 - val_accuracy: 0.9583
Epoch 7/10
6/6 [==============================] - 0s 14ms/step - loss: 0.0528 - accuracy: 0.9833 - val_loss: 0.2224 - val_accuracy: 0.9000
Epoch 8/10
6/6 [==============================] - 0s 16ms/step - loss: 0.0588 - accuracy: 0.9833 - val_loss: 0.0955 - val_accuracy: 0.9667
Epoch 9/10
6/6 [==============================] - 0s 16ms/step - loss: 0.0458 - accuracy: 0.9833 - val_loss: 0.1416 - val_accuracy: 0.9250
Epoch 10/10
6/6 [==============================] - 0s 13ms/step - loss: 0.0455 - accuracy: 0.9833 - val_loss: 0.0915 - val_accuracy: 0.9500

In [ ]:
prediction=model.predict(X_test)
length=len(prediction)
y_label=np.argmax(y_test,axis=1)
predict_label=np.argmax(prediction,axis=1)

accuracy=np.sum(y_label==predict_label)/length * 100 
print("Test data Accuracy = ",accuracy )

Test data Accuracy =  95.0

In [ ]:
prediction=model.predict(X_train)
length=len(prediction)

y_label_1=np.argmax(y_train,axis=1)
predict_label_1=np.argmax(prediction,axis=1)

accuracy_train=np.sum(y_label_1==predict_label_1)/length * 100 
print("Train data Accuracy = ",accuracy_train )

Train data Accuracy =  95.83333333333334

In [ ]:
from sklearn.metrics import f1_score
f1_score(predict_label, y_label, average=None)

array([1.        , 0.9375    , 0.94230769])